.cuerpo{
    margin: 2%;
}

.cuerpo2{
    margin: 1%;
    margin-left: 45%;
}

button{
 margin: 1%;
}
h4{
    margin: 1%;
}
.formulario{
    margin-left: 45%;
}

.Titulo{
    margin-left: 45%;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 3%;
}

