mat-table {
    margin: 2%;
    background-color: rgb(241, 236, 236);
  }

.letra{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
  }
  mat-header-cell{
    margin: 1%;
  }
  mat-cell{
    margin: 1%;
  }
   .agregarbot{
     margin: 2%;
     background-color: brown;
   }